<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <listener>
    <listener-class>com.sdzee.config.InitialisationDaoFactory</listener-class>
  </listener>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>CreationClient</servlet-name>
    <servlet-class>com.sdzee.servlets.CreationClient</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>/Users/uSlam/Documents/</param-value>
    </init-param>
    <multipart-config>
      <location>C:/Users/uSlam/fichierstmp</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>10485760</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>ListeClients</servlet-name>
    <servlet-class>com.sdzee.servlets.ListeClients</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuppressionClient</servlet-name>
    <servlet-class>com.sdzee.servlets.SuppressionClient</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreationCommande</servlet-name>
    <servlet-class>com.sdzee.servlets.CreationCommande</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>/Users/uSlam/Documents/</param-value>
    </init-param>
    <multipart-config>
      <location>C:/Users/uSlam/fichierstmp</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>10485760</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>ListeCommandes</servlet-name>
    <servlet-class>com.sdzee.servlets.ListeCommandes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuppressionCommande</servlet-name>
    <servlet-class>com.sdzee.servlets.SuppressionCommande</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Image</servlet-name>
    <servlet-class>com.sdzee.servlets.Image</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>/Users/uSlam/Documents/</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.sdzee.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationClient</servlet-name>
    <url-pattern>/creationClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeClients</servlet-name>
    <url-pattern>/listeClients</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuppressionClient</servlet-name>
    <url-pattern>/suppressionClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationCommande</servlet-name>
    <url-pattern>/creationCommande</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeCommandes</servlet-name>
    <url-pattern>/listeCommandes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuppressionCommande</servlet-name>
    <url-pattern>/suppressionCommande</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Image</servlet-name>
    <url-pattern>/images/*</url-pattern>
  </servlet-mapping>
  <filter>
  <filter-name>FiltreListes</filter-name>
  <filter-class>com.sdzee.filters.FiltreListes</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>FiltreListes</filter-name>
  <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>